## Files

# Articles in this project
*.html

# R files (.rds, workspace etc)
*.Rhistory
*.RData
.Rapp.history

# swp files
*.swp

# Auto-save stuff:
*~

# pdf file and other documents
*.pdf
*.docx

## IDE related

# RStudio
.Rproj.user/
*.Rproj

# Pycharm
.idea/
